.MediaCard {
	background-color: #202022;
	max-width: 500px;
	border-radius: 5px;
}

.MediaCardWrapper{
	display: flex;
	flex-direction: column;
	padding: 40px;
}

.MediaTitle {
	color: #FFF;
	font-size: 1rem;
	font-weight: 300;
}

.MediaPublisher {
	color: rgba(255, 255, 255, 0.50);
	font-size: 0.8em;
	font-weight: 300;
}

.MediaDate {
	color: rgba(255, 255, 255, 0.30);
	font-size: 0.75em;
	font-weight: 300;
}