.BrandInfoWrapper {
	display: flex;
	flex-direction: column;
	background: #151515;
	gap: 25px;
	margin: auto;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.BrandInfo {
	color: #7A7979;
	font-size: 0.85em;
}

.BrandLocation {
	color: #424040;
	font-size: 0.75em;
	height: 40px;
}

.BrandImage {
	max-height: 50px;
	max-width: 120px;
	height: 50px;
}

.BrandsPage {}

.Brands {
	display: flex;
	margin: auto;
	justify-content: center;
	max-width: 1000px;
}

.BrandContainer {
	margin: auto;
	max-width: 1000px;
}