.BrandInfoWrapper {
	display: flex;
	flex-direction: column;
	background: #151515;
	gap: 10px;
	margin: auto;
}

.BrandInfo {
	color: #606060;
}

.BrandImage {
	max-height: 50px;
	max-width: 120px;
}

.BrandsPage{
}

.Brands{
	display: flex;
	margin: auto;
	justify-content: center;
	max-width: 1000px;
}

.BrandContainer{
	margin: auto;
	max-width: 1000px;
}