.Work {
    background-color: #121212;
    background-image: url(../../Assets//SVG//Asset\ 11-nobg.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top 80% left 20%;
}

.SectionTitle {
    color: #FF4500;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    /* padding-left: 120px; */
    padding-top: 25px;
    margin: auto;
    opacity: 0.3;
}

a {
    color: #FFF;
    font-weight: 800;
    opacity: 1;
    /* text-decoration: underline; */
}

.WorkExperiences {
    margin: auto;
    padding: 50px 50px 500px 50px;
    width: 80%;
}

.WorkExperience {
    display: flex;
    flex-direction: row;
    color: #FFF;
    opacity: 0.6;
    margin: auto;
    font-size: 18px;
    width: 95%;
}

.WorkTimelineIndicator {
    display: flex;
    flex-direction: column;
}

.line {
    width: 1px;
    height: 220px;
    background-color: #FF4500;
    margin: 15px auto;
}

.TimeIndicator {
    width: 10px;
    height: 10px;
    border: 1px solid #FF4500;
    opacity: 0.38;
    border-radius: 50%;
}

.Filled {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #FF4500;
}

.WorkExperience02 {
    padding-top: 200px;
}

.WorkExperienceContainer {
    width: 30%;
    margin: 10px auto auto auto;
}

.WorkExperienceTitle {
    margin: auto;
    display: block;
    color: #FFF;
    opacity: 0.87;
    font-size: 35px;
    font-weight: 600;
}

.WorkExperienceDescription {
    margin: auto;
    /* max-width: 600px; */
    opacity: 0.6;
    font-size: 19px;
}


@media(max-width:1280px) {

    .Work {
        background-size: 35%;
        background-position: left 95%;
    }

    .WorkExperienceTitle {
        font-size: 28px;
    }

    .WorkExperiences {
        padding: 50px 50px 350px 50px;
    }

    .WorkExperienceDescription {
        font-size: 18px;
    }

    .line {
        height: 180px;
    }

}

@media(max-width:720px) {
    .SectionTitle {
        font-size: 20px;
        padding-left: 20px;
    }

    .WorkExperiences {
        width: 90%;
        padding-right: 0;
        margin: auto;
        padding: 30px 0 200px 0;
    }

    .WorkExperience {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .TimeIndicator {
        display: none;
    }

    .WorkExperience02 {
        padding: 0;
    }

    .WorkExperienceContainer {
        text-align: center;
        width: 90%;
    }

    .line {
        height: 100px;
        margin: 10px auto;
    }

    .WorkExperienceTitle {
        font-size: 20px;
    }
}

@media(max-width:480px) {

    .Work {
        background-size: 80%;
        background-position: bottom 10% left 50%;
    }

    .WorkExperienceDescription {
        font-size: 14px;
    }

    .line {
        height: 50px;
    }

    .WorkExperiences {
        padding-bottom: 320px;
    }
}