.About {
    /* height: 100vh; */
    background-color: #1F1F1F;
    background-image: url('../../Assets//SVG//Asset\ 12-nobg.svg');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: left 70%;
}

.SectionTitle{
    color: #FF4500;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    padding: 25px;
    margin: auto;
    opacity: 0.3;
}

.AboutContent {
    width: 60%;
    max-width: 500px;
    padding: 50px;
    margin: auto;
    padding-bottom: 300px;
}

.AboutImage{
    display: block;
    background: #000;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 30px auto;
}

.AboutDescription{
    color: #FFF;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin: auto;
    opacity: 0.87;
}

.AboutAnimation{
    width: 600px;
    left: 10%;
    position: relative;
}

@media(max-width:1280px){
    .About{
        background-size: 50%;
        background-position: left 90% bottom 50px;
    }

    .AboutDescription{
        font-size: 18px;
    }

    .AboutImage{
        width: 150px;
        height: 150px;
    }
}

@media(max-width:720px){
    .SectionTitle{
        font-size: 20px;
        margin: auto;
        padding-left: 20px;
    }

    .AboutImage{
        width: 120px;
        height: 120px;
    }

    .AboutContent{
        width: 70%;
    }
}

@media(max-width:480px){

    .AboutContent{
        width: 80%;
        padding: 20px;
        padding-bottom: 250px;
    }
    .AboutDescription{
        font-size: 14px;
    }

    .AboutImage{
        width: 100px;
        height: 100px;
    }

    .About{
        background-size: 80%;
        background-position: left 50% bottom 10%;
    }
}