.NavBar {
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: #151515;
	margin: auto;
	height: 40px;
	display: flex;
	max-width: 1200px;
	justify-content: space-between;
	color: #FFF;
	padding: 20px;
	align-items: center;
}

.NavContent {
	display: flex;
	flex-direction: row;
	grid-gap: 50%;
	text-align: center;
	margin-left: 14px;
	justify-content: center;
}

.NavLogo {
	font-size: 1.2rem;
	padding: 8px 15px;
	color: #151515;
	background-color: #FFF;
	border-radius: 5px;
}

.NavButton {}

.NavItem {
	color: #606060;
	font-size: 0.85em;
}

.NavItemsContainer{
	display: flex;
	flex-direction: row;
	gap: 60px;
	justify-content: center;
}