.BrandsWrapper {
	display: grid;
	flex-direction: row;
	gap: 20px;
	border: none;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.Brands {
	max-width: 1000px;
	gap: 100px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.BrandsHeadingWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	text-align: center;
	margin: auto;
	margin-bottom: 60px;
}

.BrandsPage {
	border: none;
	background-color: #151515;
}

.BrandContainer {
	display: flex;
	flex-direction: column;
}

.BrandsHeading {
	color: #FFF;
}

.BrandsHeadingText {
	color: #737373;
}