body {
	margin: 0;
	font-family: 'Gothic A1', sans-serif;
	background-color: #151515;
}

.SectionTitle {
	color: #FFF;
	font-weight: 600;
	font-size: 1.1em;
	text-align: center;
	padding: 25px;
	margin: auto;
}

.HeadingText {
	color: #737373;
	text-align: center;
}

.HeadingWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	text-align: center;
	margin: auto;
}

.HeadingContainer {
	display: flex;
	flex-direction: column;
}

.Heading {
	color: #FFF;
	margin: auto;
}

@media(max-width:720px) {
	.SectionTitle {
		font-size: 20px;
		margin: auto;
		padding-left: 20px;
	}
}